.auth-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 15px;
  transition: 0.3s cubic-bezier(0.77, 0, 0.18, 1);
}

.auth-input input:focus {
  transition: 0.1s ease;
  outline: none;
  border: 2px solid rgba(106, 148, 175, 0.295);
  border-bottom: 4px solid #56baed;
}

.auth-input input {
  height: 30px;
  border-radius: 5px;
  border: 2px solid var(--gray);
  padding-left: 5px;
}

.auth-input label {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--dark-color);
  margin-bottom: 5px;
}

/* increases specificity to override other classs ! */
.select-input.select-input.select-input.select-input {
  position: absolute;
  z-index: -1;
  font-size: 17px;
  width: 0 !important;
  height: 0 !important;
  border: none;
  top: 130px !important;
}

#select-container {
  position: relative;
}

#select-label {
  display: inline-block;
  padding: 3px 0;
  width: 97%;
  height: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-color);
  border: 2px solid var(--gray);
}

.selected-img {
  display: inline-block;
  width: 97%;
  background-color: var(--light-gray);
  height: 25px;
}

.selected-img img {
  height: 100%;
  margin-left: 50%;
}
