.btn {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  margin: 10px 28px 0 10px;
  background-color: var(--light-gray);
  border-radius: 5px;
  cursor: pointer;

  border: none;
  /* reset hover */
  scale: 1;
  transition: 0.3s ease;
}

.btn:hover {
  filter: brightness(1.01);
  box-shadow: rgba(23, 23, 34, 0.123) 0px 4px 16px,
    rgba(17, 17, 26, 0.11) 0px 8px 32px;
  transform: scale(1.06);
  transition: 0.3s ease;
}
