.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 80px;
  width: 100vw;
  padding: 0.2rem 1.5rem;
  padding-bottom: 0;
  background-color: white;
  box-shadow: 0px 5px 10px 5px rgb(229, 226, 226);
}

.nav-header {
  font-weight: 700;
  font-size: 2.4rem;
  margin-right: 2rem;
  cursor: pointer;
}
#nav-dropdown {
  width: 15rem;
  margin: 0 20px;
}

.search-box {
  border: 2px solid var(--dark-color);
  display: flex;
  justify-items: flex-end;
  align-items: center;
  border-radius: 4px;
  width: 20.1rem;
  min-width: 220px;
  height: 49.5px;
  margin: 0 2rem;
  overflow: hidden;
}

.search-box input {
  width: 100%;
  padding: 5px;
  height: 100%;
  background-color: white;
  border-style: none;
}

.search-box:focus-within {
  /* border: 2px solid var(--light-blue); */
}

.search-box svg {
  background-color: var(--dark-color);
  height: 40px;
  width: 40px;
  padding: 8px 20px;
  justify-self: flex-end;
}

#loginBtn {
  border-radius: 5px;
  font-weight: bolder;
  overflow: hidden;
  height: 50px;
  width: 80px;
  margin: 0;
  border: 2px solid var(--dark-color);
}

#loginBtn:hover {
  box-shadow: none;
  transform: none;
  border: 1px solid var(--dark-color);
}

.user-greet {
  display: flex;
  align-items: center;
}

.hello-user {
  color: var(--dark-color);
  font-weight: 700;
  margin-left: 12px;
}
.logout {
  margin-left: 20px;
  color: var(--light-blue);
  cursor: pointer;
}

.user-profile {
  height: 50px;
  /* width: 50px; */
  border-radius: 100px;
  overflow: hidden;
  object-fit: contain;
  background-color: white;
}

.sell-btn {
  justify-self: flex-end;
  background-color: white;
  color: var(--dark-color);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  cursor: pointer;
}

.sell-btn svg {
  height: 22px;
  width: 22px;
  margin-right: 5px;
}
