.login-modal {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;

  transition: 1s ease;
}

.checkbox {
  align-self: flex-start;
}

.login-note {
  font-size: 0.75rem;
  color: var(--dark-color);
  margin-left: 10px;
}

.login-btn-container {
  display: flex;
  padding: 1rem 1rem 0 1rem;
}
