.create-post-container {
  width: 70%;

  padding: 30px 50px;
}

.create-post-heading {
  font-size: 25px;
  font-weight: 700;
  color: var(--dark-color);
  padding-bottom: 20px;
}

.create-title {
  margin-top: 20px;
}
