.chat-message {
  background-color: var(--light-gray);
  padding: 5px;
}

.recicved-message {
  border-radius: 0 5px 5px 5px;
  background-color: var(--light-gray);
}

.send-message {
  border-radius: 5px 0 5px 5px;
  background-color: var(--light-gray);
}
